$primary: #4f00a8;
$secondary: #f5f469;

$navbar-light-active-color: $primary;

$navbar-light-hover-color: $primary;
$navbar-light-brand-color: $primary;
$navbar-light-toggler-icon-bg: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'><path stroke='#{$primary}' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/></svg>") !default;
$navbar-light-toggler-border-color: $primary;
